<section class="user-list-page">
  <% @users.each do |user| %>
  <div class="user-container">
    <img class="user-photo" src="<%= user.Photo %>">
    <div class= "user-infos">
      <p class="user-name"><%= user.Name %></p>
      <p class="user-post-counter">Number of posts: <%= user.posts_counter %></p>
    </div>
  </div>
  <%end%>
</section>