*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-family: Courier, sans-serif;
  box-sizing: border-box;
}

a {
  color: #000;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.user-list-page,
.user-profile-page,
.post-list-page,
.post-page {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 40px;
}

.user-container {
  display: flex;
  align-items: center;
  padding: 25px;
  gap: 25px;
  border-radius: 10px;
  border: 2px dotted #000;
}

.user-photo {
  border: 2px solid #000;
}

.user-infos {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 20px;
  gap: 10px;
  align-items: center;
  border: 2px solid #000;
  cursor: pointer;
  background: #eee;
}

.user-name {
  font-size: 26px;
}

.user-post-counter {
  font-size: 18px;
}

.user-bio,
.post-item {
  display: flex;
  flex-direction: column;
  padding: 25px;
  gap: 25px;
  border-radius: 10px;
  border: 2px dotted #000;
  background: #eee;
}

.post-item,
.post-card {
  cursor: pointer;
  background: #eee;
  padding: 25px;
  gap: 25px;
  border-radius: 10px;
  border: 2px dotted #000;
}

.post-card-top {
  display: flex;
  flex-direction: column;
}

.post-counters {
  align-self: flex-end;
}

.comments-container {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #ddd;
  border-size: 50%;
  padding: 15px 0;
}

.all-posts-btn {
  width: 170px;
  height: 50px;
  cursor: pointer;
  align-self: center;
  background: inherit;
  font-size: 18px;
}

.single-post {
  padding: 15px;
  background: #eee;
}

.post-top {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
